<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725422004067-iqphqubcc061ekoidleqtegc5kfvlp5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725422004067-iqphqubcc061ekoidleqtegc5kfvlp5q</string>
	<key>API_KEY</key>
	<string>AIzaSyC6hPdPYuoHo80EA84p0fwxAAXNX7M-Zvk</string>
	<key>GCM_SENDER_ID</key>
	<string>725422004067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aebyss.Recallr-Testing-2</string>
	<key>PROJECT_ID</key>
	<string>recallr-6f06a</string>
	<key>STORAGE_BUCKET</key>
	<string>recallr-6f06a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725422004067:ios:e5947394a53d9fdbc92556</string>
</dict>
</plist>